<header class="fixed w-full px-2 top-2">
  <div
    class="flex items-center justify-between w-full px-4 py-2 bg-white bg-opacity-50 backdrop-blur rounded-xl"
  >
    <div>
      <p class="font-medium">
        🍇 Sommelier AI <span class="text-xs font-light">1.0</span>
      </p>
    </div>
    <div class="flex items-center gap-6">
      <div v-if="$route.path !== '/about'">
        <a
          class="text-sm font-light hover:underline hover:cursor-pointer"
          to="/about"
        >
          {{ t('base.menu.about') }}
        </a>
      </div>
      <div v-if="$route.path !== '/'">
        <a
          class="text-sm font-light hover:underline hover:cursor-pointer"
          to="/"
        >
          {{ t('base.menu.home') }}
        </a>
      </div>
      {{-- <I18nSwitch /> --}}
      @!donate.link()
    </div>
  </header>
