<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('resources/images/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('resources/images/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('resources/images/favicon-16x16.png') }}" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    @vite(['resources/css/app.css', 'resources/ts/app.ts', 'ressources/public'])
    <title>
      {{ title || "Sommelier AI" }}
    </title>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
  </head>

  <body class="h-[100svh]">
    @!header.header()
    {{{ await $slots.main() }}}
    {{-- @!footer.footer() --}}
  </body>

</html>
