<div
  class="h-[100svh] flex flex-col justify-center items-center px-2 pt-14 sm:pt-10 bg-no-repeat bg-cover bg-center"
  style="
    background-image: url('https://i.ebayimg.com/images/g/bm4AAOSwW89j1f-k/s-l1600.jpg');
  "
>
  {{{ await $slots.main() }}}
</div>
