<div
  class="flex flex-col items-center justify-center h-full px-2 pt-3 bg-center bg-no-repeat bg-cover"
  style="
    background-image: url('https://i.ebayimg.com/images/g/bm4AAOSwW89j1f-k/s-l1600.jpg');
  "
>
  {{{ await $slots.main() }}}
</div>
