@layouts.app({ title: "🍇 Sommelier AI" })
  @slot('meta')
    <meta name="description" content="A Home page made with EdgeJS">
  @endslot

    <div class="container flex flex-col items-center h-full mx-auto">
      @!chat.box()
      @!chat.form.form()
    </div>
@end
