@layouts.app({ title: "Sommelier AI" })
  @slot('meta')
    <meta name="description" content="A Home page made with EdgeJS">
  @endslot

  <h1 class="text-red-500">Hello world</h1>
  <button> {{ t('base.donate.button') }} </button>
@end
